In [1]:
import pandas as pd

# Leggiamo i file
## Lettura file adv.sql

In [3]:
fd = open(".\\dataset\\adv.sql", "r")
sqlFile = fd.read()
fd.close()

In [4]:
sqlLines = sqlFile.splitlines()
for i in range(0,10):
    print(f"Line number {i}: \'{sqlLines[i]}\'")

Line number 0: '/*'
Line number 1: '-- Query: SELECT * FROM daita02adv.adv_plus'
Line number 2: 'LIMIT 0, 50000'
Line number 3: ''
Line number 4: '-- Date: 2023-03-28 17:54'
Line number 5: '*/'
Line number 6: 'INSERT INTO `` (`adv_ID`,`TV`,`Actor`) VALUES (1,230.1,'No');'
Line number 7: 'INSERT INTO `` (`adv_ID`,`TV`,`Actor`) VALUES (2,44.5,'Yes');'
Line number 8: 'INSERT INTO `` (`adv_ID`,`TV`,`Actor`) VALUES (3,17.2,'No');'
Line number 9: 'INSERT INTO `` (`adv_ID`,`TV`,`Actor`) VALUES (4,151.5,'No');'

In [5]:
sqlDictList = []
for line in sqlLines[6:]:
    id, tv, actor = line[47:-2].split(",")
    actor = actor.replace("\'", "")
    temp = {"adv_ID": id, "TV": tv, "Actor": actor}
    sqlDictList.append(temp)

In [6]:
df = pd.DataFrame.from_dict(sqlDictList)
df['adv_ID'] = df['adv_ID'].astype(int)
df.set_index('adv_ID', inplace=True)

### Dataframe dal file adv.sql

In [7]:
df

           TV Actor
adv_ID
1       230.1    No
2        44.5   Yes
3        17.2    No
4       151.5    No
5       180.8    No
...       ...   ...
196      38.2    No
197      94.2    No
198       177    No
199     283.6    No
200     232.1    No

[200 rows x 2 columns]

## Lettura file adv_sales.xls

In [2]:
xls = pd.read_excel(".\\dataset\\adv_sales.xls", "Sheet1", index_col=0)
#xls.set_index('adv_ID', inplace=True)

### Dataframe dal file adv_salex.xls

In [9]:
xls

        Sales
adv_ID
1        22.1
2        10.4
3        12.0
4        16.5
5        17.9
...       ...
196       7.6
197      14.0
198      14.8
199      25.5
200      18.4

[200 rows x 1 columns]

## Lettura file data_adv.csv

In [10]:
csv = pd.read_csv(".\\dataset\\data_adv.csv", index_col=0)
csv.set_index('adv_ID', inplace=True)

### Dataframe dal file data_adv.csv

In [11]:
csv

        Radio  Newspaper Actress
adv_ID
1        37.8       69.2      No
2        39.3       45.1     Yes
3        45.9       69.3      No
4        41.3       58.5      No
5        10.8       58.4      No
...       ...        ...     ...
196       3.7       13.8      No
197       4.9        8.1      No
198       9.3        6.4      No
199      42.0       66.2      No
200       8.6        8.7      No

[200 rows x 3 columns]

### Lettura file social.csv

In [12]:
social = pd.read_csv(".\\dataset\\social.csv", index_col=0)

### Dataframe dal file data_adv.csv

In [13]:
social

,Social,tv fatturato,radio fatturato,social fatturato,paper fatturato
adv_ID,,,,,
1,218595,9503000,3978000,6409000,2210000
2,42275,4472000,1872000,3016000,1040000
3,16340,5160000,2160000,3480000,1200000
4,143925,7095000,2970000,4785000,1650000
5,171760,7697000,3222000,5191000,1790000
...,...,...,...,...,...
196,35526,3268000,1368000,2204000,760000
197,87606,6020000,2520000,4060000,1400000
198,164610,6364000,2664000,4292000,1480000
199,263748,10965000,4590000,7395000,2550000
200,215853,7912000,3312000,5336000,1840000

# Uniamo i file
## Merging social and data_adv

In [15]:
appoggio1 = pd.merge(csv, social, on="adv_ID")
appoggio1

,Radio,Newspaper,Actress,Social,tv fatturato,radio fatturato,social fatturato,paper fatturato
adv_ID,,,,,,,,
1,37.8,69.2,No,218595,9503000,3978000,6409000,2210000
2,39.3,45.1,Yes,42275,4472000,1872000,3016000,1040000
3,45.9,69.3,No,16340,5160000,2160000,3480000,1200000
4,41.3,58.5,No,143925,7095000,2970000,4785000,1650000
5,10.8,58.4,No,171760,7697000,3222000,5191000,1790000
...,...,...,...,...,...,...,...,...
196,3.7,13.8,No,35526,3268000,1368000,2204000,760000
197,4.9,8.1,No,87606,6020000,2520000,4060000,1400000
198,9.3,6.4,No,164610,6364000,2664000,4292000,1480000
199,42.0,66.2,No,263748,10965000,4590000,7395000,2550000
200,8.6,8.7,No,215853,7912000,3312000,5336000,1840000

## Merging file xls con l'output temporaneo "appoggio1"

In [42]:
appoggio2 = pd.merge(appoggio1, xls, left_on="adv_ID", right_on="adv_ID")
appoggio2

,Radio,Newspaper,Actress,Social,tv fatturato,radio fatturato,social fatturato,paper fatturato,Sales
adv_ID,,,,,,,,,
1,37.8,69.2,No,218595,9503000,3978000,6409000,2210000,22.1
2,39.3,45.1,Yes,42275,4472000,1872000,3016000,1040000,10.4
3,45.9,69.3,No,16340,5160000,2160000,3480000,1200000,12.0
4,41.3,58.5,No,143925,7095000,2970000,4785000,1650000,16.5
5,10.8,58.4,No,171760,7697000,3222000,5191000,1790000,17.9
...,...,...,...,...,...,...,...,...,...
196,3.7,13.8,No,35526,3268000,1368000,2204000,760000,7.6
197,4.9,8.1,No,87606,6020000,2520000,4060000,1400000,14.0
198,9.3,6.4,No,164610,6364000,2664000,4292000,1480000,14.8
199,42.0,66.2,No,263748,10965000,4590000,7395000,2550000,25.5
200,8.6,8.7,No,215853,7912000,3312000,5336000,1840000,18.4

## Merging file SQL con l'output temporaneo "appoggio2"

In [53]:
result = pd.merge(appoggio2, df, on="adv_ID")

# Il dataset finale

In [54]:
result

,Radio,Newspaper,Actress,Social,tv fatturato,radio fatturato,social fatturato,paper fatturato,Sales,TV,Actor
adv_ID,,,,,,,,,,,
1,37.8,69.2,No,218595,9503000,3978000,6409000,2210000,22.1,230.1,No
2,39.3,45.1,Yes,42275,4472000,1872000,3016000,1040000,10.4,44.5,Yes
3,45.9,69.3,No,16340,5160000,2160000,3480000,1200000,12.0,17.2,No
4,41.3,58.5,No,143925,7095000,2970000,4785000,1650000,16.5,151.5,No
5,10.8,58.4,No,171760,7697000,3222000,5191000,1790000,17.9,180.8,No
...,...,...,...,...,...,...,...,...,...,...,...
196,3.7,13.8,No,35526,3268000,1368000,2204000,760000,7.6,38.2,No
197,4.9,8.1,No,87606,6020000,2520000,4060000,1400000,14.0,94.2,No
198,9.3,6.4,No,164610,6364000,2664000,4292000,1480000,14.8,177,No
199,42.0,66.2,No,263748,10965000,4590000,7395000,2550000,25.5,283.6,No
200,8.6,8.7,No,215853,7912000,3312000,5336000,1840000,18.4,232.1,No